@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: antiquewhite;
    text-align: center;
    font-family: 'Unbounded', 'Courier New', Courier, monospace; 
    background-image: url('background.jpeg'); 
    background-position: top; 
    position: relative; 
    min-height: 100vh; 
    padding: 3rem; 
    color: white;
}
#overlay {
    position: fixed; 
    height: 100%; 
    width: 100%;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.75);
    inset: 0; 
    z-index: -1;
}

#two-blocks {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
} 

#input, #result {
    height: 400px; 
    width: 400px; 
    overflow: hidden; 
    object-fit: cover; 
    border-radius: 30px; 
    background-position: center;
    border: 1px solid lightblue; 
    margin: 1rem;
    background-color: rgb(138, 173, 238); 
    display: flex;
    align-items: center; 
    justify-content: center;
}
#input {
    background-size: cover;
    
    font-size: 1.7rem;
}
#result {
    background-size: contain;
    background-repeat: no-repeat;
}
#result_name {
    background: black;
    padding: 0.1rem 1rem;
}


.icon {
    height: 50px; 
    width: 50px;
    margin-left: 1rem; 
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(347deg) brightness(112%) contrast(100%); 
}

#input_file {
    display: none; 
}

input[type="submit"] {
    margin: auto;
    display: block;
}

#buttons {
    margin: 2rem 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

#buttons input {
    height: 50px; 
    width: 150px; 
    margin: 0 0.5rem; 
    font-size: 1.2rem;
} 
#buttons input:nth-child(1) {
    background-color: lightblue; 
    color: darkblue; 
    border: 2px solid darkblue; 
}
#buttons input:nth-child(1):hover {background-color: rgb(0, 0, 98);}

#buttons input:nth-child(2) {
    background-color: darksalmon; 
    color: darkred; 
    border: 2px solid darkred; 
}
#buttons input:nth-child(2):hover {background-color: rgb(73, 0, 0);}

#buttons input:hover {
    cursor: pointer; 
    color: white; 
}



@media only screen and (max-width: 992px) {
    body {
        padding: 2rem 0.25rem; 
    }
    #two-blocks {
        flex-direction: column;
    } 
    #input, #result {
        height: 275px; 
        width: 275px;
    } 
    #result {
        order: 3;
    }
    #buttons {
        order: 2;
    }
}








/*Loader*/
.lds-ring {
    visibility: hidden;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    order: 2;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  